/* CSS */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

/* Toggle Styles */

#viewport {
  padding-left: 250px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#content {
  width: 100%;
  position: relative;
  margin-right: 0;
}

/* Sidebar Styles */

#sidebar {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 250px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #37474F;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar header {
  background-color: #263238;
  font-size: 20px;
  line-height: 52px;
  text-align: center;
}

#sidebar header a {
  color: #fff;
  display: block;
  text-decoration: none;
}

#sidebar header a:hover {
  color: #fff;
}

#sidebar .nav a,
#sidebar .nav label{
  background: none;
  border-bottom: 1px solid #455A64;
  color: #CFD8DC;
  font-size: 14px;
  padding: 16px 24px;
}

#sidebar .nav a:hover,
#sidebar .nav label:hover{
  background: none;
  color: #ECEFF1;
}

#sidebar .nav a i,
#sidebar .nav label{
  margin-right: 16px;
}

#sidebar .custom-select {
margin-left: 20px;
}

/* Org Table CSS */

.org-refresh,
.site-refresh,
.network-refresh,
.alert-refresh {
  margin-top: 10px;
  min-width: 25px;
  font-size: 14px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.org-refresh__table tr:hover,
.site-refresh__table tr:hover,
.network-refresh__table tr:hover,
.alert-refresh__table tr:hover{
  background-color: #37474F !important;
  opacity: 85%;
  color: white;
  cursor: pointer;
}

.org-refresh__table,
.site-refresh__table,
.network-refresh__table,
.alert-refresh__table{

    border-collapse: collapse;
    width: 100%;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    border-bottom: 2px solid #263238;
}

.org-refresh__table thead tr,
.site-refresh__table thead tr,
.network-refresh__table thead tr,
.alert-refresh__table thead tr
 {
    background: #263238;
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.org-refresh__table th,
.org-refresh__table td,
.site-refresh__table th,
.site-refresh__table td,
.network-refresh__table th,
.network-refresh__table td,
.alert-refresh__table th,
.alert-refresh__table td {
    vertical-align: middle;
    text-align: center;
    padding: 9px 18px;
    width: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.org-refresh__table tbody tr:nth-of-type(even),
.site-refresh__table tbody tr:nth-of-type(even),
.network-refresh__table tbody tr:nth-of-type(even),
.alert-refresh__table tbody tr:nth-of-type(even){
    background: #eeeeee;
}

/* Org Table Options CSS */

.org-refresh__options,
.site-refresh__options,
.network-refresh__options,
.alert-refresh__options {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 0;
}

.org-refresh__options > *:not(:last-child),
.site-refresh__options > *:not(:last-child),
.network-refresh__options > *:not(:last-child),
.alert-refresh__options > *:not(:last-child)  {
    margin-right: 12px;
}

.org-refresh__button,
.site-refresh__button,
.network-refresh__button,
.alert-refresh__button {
    background: #eeeeee;
    color: #333333;
    border:none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}

.org-refresh__button > i,
.site-refresh__button > i,
.network-refresh__button > i,
.alert-refresh__button > i  {
    font-size: 1.2em;
}

.inline-icon {
  vertical-align: bottom;
  font-size: 18px !important;
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 80px;
  width: 80px;
}

#link-button {
  color: white !important;
  cursor: pointer;
  padding: 16px 24px;
  margin-right: 16px;
  text-align: center;
}

#ok-icon {
  color: green;
}

#bad-icon {
  color: red;
}

.btn-ssh {
  background-color: rgb(28, 119, 69) !important;
}

.btn-ssh:hover {
  background-color: rgb(118, 198, 118) !important;
}

.custom-select{
  width: 200px;
  align-content: center;
}
